.vs
.vs/
.vs/.
ObfuscatorBase/bin
ObfuscatorBase/obj
ObfuscatorBase/bin/
ObfuscatorBase/obj/
ObfuscatorBase/bin/.
ObfuscatorBase/obj/.
Obfuscator.Demo/bin
Obfuscator.Demo/obj
Obfuscator.Demo/bin/
Obfuscator.Demo/obj/
Obfuscator.Demo/bin/.
Obfuscator.Demo/obj/.
dnlib/src/bin
dnlib/src/obj
dnlib/src/bin/
dnlib/src/obj/
dnlib/src/bin/.
dnlib/src/obj/.
dnlib
dnlib/
dnlib/.